<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">Something new content here</p>

                <div class="row">
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="avo have" id="b">
                        </figure>
                    </div>
                    {{!-- right img section --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center algn-items-start flex-column">
                        <h1>Heading part 2</h1>
                        <h1>Bootstrap and node.js</h1>
                        <p>Lorem ipsum dolor sit amet.Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Provident,Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Reprehenderit dolores aspernatur quaerat ipsum enim porro doloremque perspiciatis ullam quis
                            nulla. aut.<span class="bold-style"></span></p>
                        <button class="btn-style btn-primary">Go ahead</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
